// Footer Styles
.site-footer {
  background-color: var(--theme-color);
  color: #ffffff;
  padding: 1rem 0;

  .wrapper {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0 1.5rem;

    .site-title {
      color: white;
      font-size: 2.5em;
      text-align: left;
    }
  }

  .footer-logo-row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 1rem;
  }

  .footer-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #ffffff;

    .footer-col {
      width: 50%;
      padding: 2rem 2rem;
      margin: 0;
    }

    ul.footer-links {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 0;

      li {
        list-style: none;
        padding: 0.5rem;
        border-radius: 8px;
        transition: background-color 0.3s ease;

        a {
          color: white;
          text-decoration: none;
          font-weight: none;
        }

        &:hover {
          background-color: var(--light-hover-color);
        }
      }
    }

    .subscribe {
      border-left: 1px solid #ffffff;
      width: 50%;
      padding: 2.62rem 2rem;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3 {
        padding-left: 4em;
        font-size: 1rem;
        margin-bottom: 1rem;
        font-weight: normal;
      }

      form {
        padding-left: 4em;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 75%;

        label {
          font-size: 0.875rem;
          color: #cccccc;
          display: none;
        }

        input {
          padding: 0.6rem 0.8rem;
          margin-bottom: 0.5rem;
          border: none;
          border-bottom: 1px solid #ffffff;
          font-size: 1rem;
          background-color: var(--theme-color);
          color: white;
          outline: none;
        }

        input::placeholder {
          color: #cccccc;
        }

        button {
          background-color: var(--theme-color);
          color: white;
          padding: 1rem 1.2rem;
          font-size: 1rem;
          width: 40%;
          font-weight: bold;
          border: 2px solid #ffffff;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s ease, color 0.3s ease;

          &:hover {
            background-color: #ffffff;
            color: var(--theme-color);
          }
        }
      }
    }

  }

  .footer-bottom {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    p {
      margin: 0.5rem 0;
    }

    a {
      color: white;
      text-decoration: underline;

      &:hover {
        color: #ccc;
      }
    }
  }

  #submission-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
  }

  #subscription-message {
    font-size: 1em;
    width: 50%;
    padding: 0 1em;
    text-align: center;
  }
}