.progress-bar {
  height: 4px;
  background: var(--theme-color);
  width: 0%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page-content {
  padding-top: 10px;
}

.wrapper {
  width: 80%;
  /* Widen the wrapper */
  max-width: 1200px;
  /* Set a maximum width for larger screens */
  margin: 0 auto;
  /* Center the wrapper */
  padding: 20px;
  /* Add some padding for better spacing */
  box-sizing: border-box;
  /* 패딩을 포함한 너비와 높이 계산 */
}

// Post Wrapper style
.post-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.utterances {
  max-width: 80%;
}

#scrollButtonsWrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  /* Fixate position */
  bottom: 20px;
  /* 20px from the bottom */
  right: 20px;
  /* 20px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
}

#scrollToTopBtn,
#scrollToBottomBtn {
  display: none;
  /* Hidden by default */
  border: none;
  /* No border */
  outline: none;
  /* No outline */
  background-color: lightgray;
  /* Light gray background */
  color: white;
  /* White text */
  cursor: pointer;
  /* Pointer/hand icon */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
  margin-bottom: 2px;
  /* Space between buttons */
}
