@font-face {
  font-family: "NanumGothic";
  src: url(#{$asset-fonts-path}/NanumGothic.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumBarunGothic";
  src: url(#{$asset-fonts-path}/NanumBarunGothic.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url(#{$asset-fonts-path}/Helvetica.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Swagger";
  src: url(#{$asset-fonts-path}/SDSwaggerTTF.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
