// Social Icons
.social-icons {
  margin-top: 1em;
  display: flex;
  gap: 10px;
  /* Adjust the gap between icons if you have multiple */
  flex-direction: row;
}

.social-icons svg {
  width: 1.5em;
  /* Set the desired width */
  height: 1.5em;
  /* Set the desired height */
  fill: rgb(51, 51, 51);
  /* Facebook's brand color */
  transition: fill 0.3s;
}

.social-icons svg:hover {
  fill: var(--theme-color);
  /* Lighter shade on hover */
}
