@font-face {
  font-family: "NanumGothic";
  src: url('{{ "/assets/fonts/NanumGothic.ttf" | relative_url }}') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumBarunGothic";
  src: url('{{ "/assets/fonts/NanumBarunGothic.ttf" | relative_url }}') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url('{{ "/assets/fonts/Helvetica.ttf" | relative_url }}') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Swagger";
  src: url('{{ "/assets/fonts/SDSwaggerTTF.ttf" | relative_url }}') format("truetype");
  font-weight: normal;
  font-style: normal;
}
