:root {
  --theme-color: #4195e0;
  /* Set your desired theme color here */
  --theme-color-opp: #ea9f36;
  /* Set the opposite color for contrast */
  --theme-color-light: #4195e047;

  --theme-color-dark: #214c72;

  --light-hover-color: #79b4e8;
}
