--- 
# Only the main Sass file needs front matter (the dashes are enough) 
--- 
@import "minima/skins/{{ site.minima.skin | default: 'classic' }}", "minima/initialize";

@font-face {
  font-family: "NanumGothic";
  src: url('{{ "/assets/fonts/NanumGothic.ttf" | relative_url }}') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumBarunGothic";
  src: url('{{ "/assets/fonts/NanumBarunGothic.ttf" | relative_url }}') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url('{{ "/assets/fonts/Helvetica.ttf" | relative_url }}') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Swagger";
  src: url('{{ "/assets/fonts/SDSwaggerTTF.ttf" | relative_url }}') format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --theme-color: #4195e0;
  /* Set your desired theme color here */
  --theme-color-opp: #ea9f36;
  /* Set the opposite color for contrast */
  --theme-color-light: #4195e047;

  --theme-color-dark: #214c72;

  --light-hover-color: #79b4e8;
}

body {
  font-family: "Tahoma", "NanumBarunGothic", "나눔 고딕", "Malgun Gothic", "굴림", "Gulim", "sans-serif";
  overflow-x: hidden;
}

code {
  border: 1px solid #ddd;
  /* Light border */
  border-radius: 3px;
  /* Slightly rounded corners */
  padding: 0 3px;
  /* Some padding */
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  /* Monospaced font */
  font-size: 90%;
  /* Slightly smaller font size */
  color: var(--theme-color-dark);
  /* Code text color */
}

/* Progress Bar In Header */
.progress-bar {
  height: 4px;
  background: var(--theme-color);
  width: 0%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Apply theme color to bold text */
b,
strong {
  color: var(--theme-color);
  /* Apply the theme color to bold text */
  font-weight: bolder;
}

.site-title {
  font-family: Swagger;
  font-size: 2em;
  color: black;
  padding-top: 1%;

}

.site-nav {
  background-color: white;
  z-index: 1000;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav .navbar {
  display: flex;
  align-items: center;
  /* Center items vertically */
  gap: 1em;
}

.site-nav .page-link {
  text-decoration: none;
  color: #000;
}

// Language switcher in navbar
.language-switcher {
  display: inline-block;
  margin-left: 20px;
  position: relative;
}

.language-switcher select {
  width: 100px;
  /* 드롭다운 메뉴의 너비를 넓힘 */
  padding: 10px 15px;
  font-size: 1em;
  border: 1px solid rgb(157, 157, 157);
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  appearance: none;
  /* 기본 화살표 제거 */
  -webkit-appearance: none;
  -moz-appearance: none;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

.language-switcher select:focus {
  border-color: var(--theme-color);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.language-switcher::after {
  content: "\25BC";
  /* 화살표 기호 추가 */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 0.8em;
  color: #777;
}

/* 고정 헤더 스타일 */
.sticky-header {
  position: fixed;
  top: -100px;
  /* 초기 상태는 화면 밖 */
  width: 100%;
  background: white;
  z-index: 1000;
  transition: top 0.3s;
  padding: 10px 0;
}

.sticky-header.visible {
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 0;
  padding-top: 0;
}

.sticky-header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.8em;
  padding-bottom: 0.5em;
}

.sticky-header .current-page-details {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.sticky-header .current-page-title {
  font-size: 1.2em;
  font-weight: bold;
}

.sticky-header .current-page-headings {
  display: flex;
  align-items: center;
  color: #666;
}

.sticky-header .current-page-section {
  font-weight: 400;
  margin-right: 0.3em;
  font-size: 0.9em;
  line-height: 1em;
  /* Ensure consistent line height */
  min-height: 1em;
}

.sticky-header .language-switcher {
  position: relative;
}

.page-content {
  padding-top: 10px;
}

.wrapper {
  width: 80%;
  /* Widen the wrapper */
  max-width: 1200px;
  /* Set a maximum width for larger screens */
  margin: 0 auto;
  /* Center the wrapper */
  padding: 20px;
  /* Add some padding for better spacing */
  box-sizing: border-box;
  /* 패딩을 포함한 너비와 높이 계산 */
}

.header-wrapper {
  border-bottom: 1px solid black;
  /* Add a border to separate the header */
  padding: 0px 15px;
}

// Post Wrapper style
.post-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Post Header Styles */
.post-header {
  margin-bottom: 1em;
}

.post-header h1 {
  font-size: 3em;
  font-weight: 800;
}

.post-header img {
  width: 100%;
  height: 20em;
  object-fit: cover;
}

.post-title {
  margin-top: 0em;
}

.post-title :lang(en) {
  font-family: "Helvetica";
}

.post-meta {
  font-size: 0.9em;
  color: #666;
  margin-right: 1.2em;
}

.post-details {
  flex-direction: row;
  display: flex;
}

.post-category {
  font-weight: bolder;
  font-size: large;
  color: var(--theme-color);
}

.post-category div {
  width: fit-content;
}

.post-category div::after {
  content: "";
  /* Create a pseudo-element */
  display: block;
  /* Make the pseudo-element a block-level element */
  width: 100%;
  /* Set the width of the border */
  margin: 0 auto;
  /* Center the border */
  border-bottom: 2px solid var(--theme-color);
  /* Use the theme color and set the thickness */
  margin-top: 0px;
  /* Add some space between the text and the border */
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.post {
  width: 100%;
  max-width: 900px;
}

.featured-post {
  display: flex;
  width: 100%;
  height: 20em;
  margin-bottom: 2.5%;
  transition: opacity 0.3s ease;
  /* Add transition for smooth effect */
}

.featured-post:hover {
  opacity: 0.8;
  /* Reduce opacity on hover */
}

.featured-thumbnail {
  flex: 1;
  width: 50%;
  overflow: hidden;
  display: flex;
  border-radius: 10px;
}

.featured-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* This will ensure the image covers the entire height */
}

.featured-content {
  flex: 1;
  width: 47.5%;
  margin-left: 2.5%;
  /* Add padding as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Center the content vertically */
}

.featured-content h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: black;
}

.featured-content p {
  font-size: medium;
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 2.5%;
  margin-bottom: 5%;
}

.featured-grid-posts-categorydisplay {
  font-weight: bold;
  font-size: 0.8em;
  width: fit-content;
  color: var(--theme-color);
  margin-bottom: 0.5em;
}

.featured-grid-posts-categorydisplay::after {
  content: "";
  /* Create a pseudo-element */
  display: block;
  /* Make the pseudo-element a block-level element */
  width: 100%;
  /* Set the width of the border */
  margin: 0 auto;
  /* Center the border */
  border-bottom: 1px solid var(--theme-color);
  /* Use the theme color and set the thickness */
  margin-top: 0px;
  /* Add some space between the text and the border */
}

/* Category Strip Styles */
.category-strip {
  // width: 300%;
  // left: -100%;
  width: 100vw;
  /* Full viewport width */
  position: relative;
  
  /* Ensure it stays in the flow of the document */
  left: 50%;
  /* Move to the center of the viewport */
  right: 50%;
  margin-left: -50vw;
  /* Offset by half the viewport width */
  margin-right: -50vw;
  box-sizing: border-box;
  /* Include padding in the total width and height */
}

.category-strip.highlight {
  background-color: var(--theme-color-light);
}

/* Inner container to align content */
.category-strip-inner {
  max-width: 1200px;
  /* Set a max-width to align with the parent wrapper */
  width: 80%;
  margin: 0 auto;
  /* Center the content */
  padding-top: 1%;
  padding-bottom: 1%;
  box-sizing: border-box;
  /* Include padding in the total width */
}

.category-strip-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.category-strip-header h2 {
  font-size: 1.2em;
  font-weight: bolder;
  color: black;
}

.category-strip-header h2::after {
  content: "";
  /* Create a pseudo-element */
  display: block;
  /* Make the pseudo-element a block-level element */
  width: 100%;
  /* Set the width of the border */
  margin: 0 auto;
  /* Center the border */
  border-bottom: 2px solid black;
  /* Use the theme color and set the thickness */
  margin-top: 0px;
  /* Add some space between the text and the border */
}

.post-header .category-strip-header h2::after {
  content: "";
  /* Create a pseudo-element */
  display: block;
  /* Make the pseudo-element a block-level element */
  width: 100%;
  /* Set the width of the border */
  margin: 0 auto;
  /* Center the border */
  border-bottom: 2px solid var(--theme-color);
  /* Use the theme color and set the thickness */
  margin-top: 0px;
  /* Add some space between the text and the border */
}

.category-strip-header a {
  color: black;
  text-decoration: none;
  /* Remove underline */
  font-weight: bold;
  transition: color 0.3s;
  /* Add transition for smooth color change */
}

.highlight .category-strip-header a:hover {
  color: white;
  /* Change text color to white on hover */
}

.category-strip-header a:hover {
  color: var(--theme-color);
  /* Change text color to white on hover */
}

.category-strip-posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  gap: 2.5%;
}

/* Add border to grid posts */
.category-strip-posts .grid-post {
  box-sizing: border-box;
  /* Include padding in the total width and height */
  position: relative;
  /* For absolute positioning of the image */
  overflow: hidden;
  /* Hide overflow to contain the image */
}

/* Thumbnail container */
.category-strip-posts .grid-post .grid-post-thumbnail {
  position: relative;
  width: 100%;
  padding-top: 60%;
  /* 60% of width for aspect ratio */
  border-radius: 10px;
}

/* Thumbnail image */
.grid-post-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensure the image covers the container */
}

.grid-post-content {
  box-sizing: border-box;
  /* Include padding in the total width */
}

.grid-post {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  /* Change cursor to pointer on hover */
  transition: opacity 0.3s ease;
  /* Add transition for smooth effect */
}

.grid-post:hover {
  opacity: 0.8;
  /* Reduce opacity on hover */
}

.grid-post-thumbnail {
  width: 100%;
  /* Ensure the width is 100% of the container */
  padding-top: 100%;
  /* Maintain a square aspect ratio */
  position: relative;
  /* Enable positioning of the image within the container */
  overflow: hidden;
  /* Hide any overflow */
  border-radius: 10px;
}

.grid-post-thumbnail img {
  position: absolute;
  /* Position the image absolutely within the container */
  top: 0;
  left: 0;
  width: 100%;
  /* Ensure the image covers the container width */
  height: 100%;
  /* Ensure the image covers the container height */
  object-fit: cover;
  /* Crop the image to cover the container */
}

.grid-post-content {
  margin-top: 0.5em;
  text-align: left;
  /* Center align the text */
}

.grid-post-content h2 {
  font-size: medium;
  font-weight: 800;
  margin: 0;
}

.grid-post-content p {
  font-size: small;
}

.post-title a,
.featured-content h1 a,
.grid-post-content h2 a {
  color: black;
  text-decoration: none;
  /* Remove underline */
}

.featured-post:hover .featured-content h1,
.featured-post .featured-content h1:hover {
  text-decoration: underline;
}

.grid-post:hover .grid-post-content h2,
.grid-post .grid-post-content h2:hover {
  text-decoration: underline;
}

.post-content {
  width: 90%;
  margin: 0 auto;
  padding-top: 1em;
}

.post-content p {
  font-size: medium;
  line-height: 1.7;
}

.post-content p:lang(en) {
  font-size: medium;
  /* Adjust the multiplier as needed */
  line-height: 1.7;
}

// within posts
.post-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-classifications {
  margin-top: 3em;
  margin-bottom: 4em;
}

.post-classifications .post-meta {
  margin-top: 0.5em;
}

.category-page-header {
  text-align: center;
  /*Not reallw working lol*/
}

.category-page-title {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  width: fit-content;
  color: var(--theme-color);
}

.category-page-title::after {
  content: "";
  /* Create a pseudo-element */
  display: block;
  /* Make the pseudo-element a block-level element */
  width: 100%;
  /* Set the width of the border */
  margin: 0 auto;
  /* Center the border */
  border-bottom: 3px solid var(--theme-color);
  /* Use the theme color and set the thickness */
  margin-top: 5px;
  /* Add some space between the text and the border */
}

.category-page-content p {
  font-size: large;
  line-height: 1.7;
}

.category-page-content p:lang(en) {
  font-size: large;
  /* Adjust the multiplier as needed */
  line-height: 1.7;
}

.category-page-posts {
  margin-top: 5%;
}

.category-post {
  display: flex;
  /* Use flexbox to align children horizontally */
  align-items: center;
  /* Center items vertically */
  cursor: pointer;
  /* Change cursor to pointer for clickability */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Optional: Add shadow */
  background-color: #fff;
  /* Optional: Add background color */
  margin: 10px 0;
  /* Optional: Add margin between posts */
}

.category-post-thumbnail {
  flex: 0 0 25%;
  /* Take 40% of the width */
  max-width: 25%;
  /* Ensure it doesn't exceed 40% */
  height: 10em;
  margin-right: 20px;
  /* Optional: Add space between thumbnail and content */
  max-height: 20%;
  overflow: hidden;
}

.category-post-thumbnail img {
  width: 100%;
  /* Ensure the image fills the thumbnail container */
  height: auto;
  /* Maintain the aspect ratio */
}

.category-post-content {
  flex: 1;
  /* Take the remaining 60% of the width */
  max-width: 60%;
  /* Ensure it doesn't exceed 60% */
}

.category-post-content h2 {
  margin: 0;
  /* Remove default margin */
  font-size: 1.5em;
  /* Adjust font size */
}

.category-post-content p {
  margin: 5px 0 0;
  /* Adjust margins */
  color: #666;
  /* Optional: Adjust text color */
}

.post-details-container {
  display: flex;
  justify-content: left;
  margin: 0.5em 0;
}

.post-details-container div {
  margin-right: 20px;
}

// Social Icons
.social-icons {
  margin-top: 1em;
  display: flex;
  gap: 10px;
  /* Adjust the gap between icons if you have multiple */
  flex-direction: row;
}

.social-icons svg {
  width: 1.5em;
  /* Set the desired width */
  height: 1.5em;
  /* Set the desired height */
  fill: rgb(51, 51, 51);
  /* Facebook's brand color */
  transition: fill 0.3s;
}

.social-icons svg:hover {
  fill: var(--theme-color);
  /* Lighter shade on hover */
}

.utterances {
  max-width: 80%;
}

// Footer Styles
.site-footer {
  background-color: var(--theme-color);
  color: #ffffff;
  padding: 1rem 0;

  .wrapper {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Aligning items to the left */
    width: 100%;
    padding: 0;

    .site-title {
      color: white;
      font-size: 2.5em;
      text-align: left;
      /* Title aligned to the left */
    }
  }

  /* Logo Row */
  .footer-logo-row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    /* Align logo to the left */
    border-bottom: 1px solid #ffffff;
    /* Add a border below the logo */
    padding-bottom: 1rem;
  }

  /* Row containing links and subscription form */
  .footer-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #ffffff;
    /* Add a border below the row */

    /* Left Column: Links */
    .footer-col {
      width: 50%;
      /* Left column takes 50% width */
      padding: 2rem 2rem;
      /* Added padding around the column for better spacing */
      margin: 0;
    }

    ul.footer-links {
      display: flex;
      flex-direction: column;
      /* Changed to single-column layout */
      gap: 1rem;
      margin-bottom: 0;
      /* Spacing between links */

      li {
        list-style: none;
        padding: 0.5rem;
        border-radius: 8px;
        transition: background-color 0.3s ease;

        a {
          color: white;
          text-decoration: none;
          font-weight: none;
        }

        &:hover {
          background-color: var(--light-hover-color);
          /* Lighten on hover */
        }
      }
    }

    /* Right Column: Email Subscription */
    .subscribe {
      border-left: 1px solid #ffffff;
      /* Add a border to separate the columns */
      width: 50%;
      /* Right column takes 50% width */
      padding: 2.62rem 2rem;
      /* Increased padding around the column for more space */
      text-align: left;
      /* Align all texts and inputs to the left */
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* Center the form content vertically */

      h3 {
        padding-left: 4em;
        font-size: 1rem;
        /* Smaller heading */
        margin-bottom: 1rem;
        font-weight: normal;
      }

      form {
        padding-left: 4em;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 75%;
        /* Add space between form elements */

        label {
          font-size: 0.875rem;
          /* Smaller font for labels */
          color: #cccccc;
          display: none;
          /* Hide labels for a cleaner look */
        }

        input {
          padding: 0.6rem 0.8rem;
          /* Adjust padding for a more compact look */
          margin-bottom: 0.5rem;
          border: none;
          /* Remove all borders */
          border-bottom: 1px solid #ffffff;
          /* Only keep bottom border */
          font-size: 1rem;
          background-color: var(--theme-color);
          /* Match input background with the footer background */
          color: white;
          outline: none;
        }

        input::placeholder {
          color: #cccccc;
          /* Subtle placeholder color */
        }

        /* Simplified button */
        button {
          background-color: var(--theme-color);
          /* Match button color with the background */
          color: white;
          /* White text color for contrast */
          padding: 1rem 1.2rem;
          /* Compact button padding */
          font-size: 1rem;
          width: 40%;
          font-weight: bold;
          border: 2px solid #ffffff;
          /* White border */
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s ease, color 0.3s ease;
          /* Smooth transition for hover */

          &:hover {
            background-color: #ffffff;
            /* Turn the button white on hover */
            color: var(--theme-color);
            /* Change text color to background color on hover */
          }
        }
      }
    }

  }

  /* Footer Bottom */
  .footer-bottom {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    p {
      margin: 0.5rem 0;
    }

    a {
      color: white;
      text-decoration: underline;

      &:hover {
        color: #ccc;
      }
    }
  }

  #submission-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
  }

  #subscription-message {
    font-size: 1em;
    width: 50%;
    padding: 0 1em;
    text-align: center;
  }
}


#scrollButtonsWrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  /* Fixate position */
  bottom: 20px;
  /* 20px from the bottom */
  right: 20px;
  /* 20px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
}

#scrollToTopBtn,
#scrollToBottomBtn {
  display: none;
  /* Hidden by default */
  border: none;
  /* No border */
  outline: none;
  /* No outline */
  background-color: lightgray;
  /* Light gray background */
  color: white;
  /* White text */
  cursor: pointer;
  /* Pointer/hand icon */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
  margin-bottom: 2px;
  /* Space between buttons */
}

@media (min-width: 769px) {
  .menu-toggle {
    display: none;
    /* Hide the toggle button on desktop */
  }
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .wrapper {
    width: 95%;
    /* Make the wrapper more flexible on smaller screens */
    padding: 10px 5px;
    /* Reduce padding */
  }

  .sticky-header .site-title {
    display: none;
  }

  .sticky-header .current-page-title {
    font-size: .9em;
    font-weight: bold;
    margin-bottom: 0.3em;
  }

  .sticky-header .current-page-section {
    font-weight: 400;
    margin-right: 0.3em;
    font-size: 0.8em;
    line-height: 1em;
    /* Ensure consistent line height */
    min-height: 1em;
  }

  .sticky-header .language-switcher {
    display: none;
  }

  .site-nav {
    padding: 0 1em;
  }

  .site-nav .navbar {
    display: none;
    /* Hide the menu by default */
    flex-direction: column;
    width: fit-content;
    /* Set width to 30% */
    padding-left: 1.5em;
    position: absolute;
    top: 100%;
    right: 0;
    /* Align to the right side of the screen */
    background-color: white;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
    /* Optional: Add shadow for better visibility */
    z-index: 999;
    /* Ensure it is above other content */
    text-align: right;
    /* Align all contents to the right */
  }

  .site-nav.expanded .navbar {
    display: flex;
    width: fit-content;
  }

  .navbar .language-switcher {
    margin-left: auto;
    margin-right: 1em;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 1.5em;
  }

  .sticky-header .current-page-details {
    flex-direction: column;
    text-align: center;
  }

  .sticky-header .language-switcher {
    margin-top: 10px;
  }

  .featured-post {
    flex-direction: column;
    /* Stack elements vertically */
    margin-bottom: 1em;
    /* Reduce margin bottom */
    height: 30em;
  }

  .featured-thumbnail {
    height: auto;
    width: 100%;
    /* Let the image adjust naturally */
  }

  .featured-content {
    margin-left: 0;
    /* Remove left margin */
    width: 100%;
    flex: 0.5;
  }

  .post-category {
    font-size: medium;
  }

  .featured-content h1 {
    font-size: 1.5em;
    /* Adjust font size for smaller screens */
    font-weight: 800;
    margin-top: .25em;
    margin-bottom: .25em;
  }

  .featured-content p {
    font-size: small;
    margin-bottom: .2em;
  }


  .featured-grid {
    grid-template-columns: 1fr;
    margin-bottom: 15%;
    /* Single column layout */
  }

  .grid-post {
    flex-direction: row;
    /* Stack elements horizontally */
    margin-bottom: 1em;
    /* Add space between grid posts */
  }

  .grid-post-thumbnail {
    width: 30%;
    /* Set a fixed width for the thumbnail */
    padding-top: 30%;
    /* Maintain aspect ratio to ensure it is square */
    position: relative;
    /* Ensure proper positioning of the image */
    margin-right: 1em;
    /* Add space between thumbnail and content */
    overflow: hidden;
    /* Hide overflow */
    flex-shrink: 0;
    /* Prevent the thumbnail from shrinking */
  }

  .grid-post-thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Crop the image to fit the container */
  }

  .grid-post-content {
    flex-grow: 1;
    /* Allow the content to grow and fill the available space */
    margin-top: 0;
    /* Remove top margin */
  }

  .grid-post-content h2 {
    width: 100%;
  }

  .grid-post-content p {
    width: 100%;
  }

  .category-page-title {
    font-size: 1.5em;
  }

  .category-page-content p {
    font-size: medium;
    line-height: 1.7;
  }

  .category-page-content p:lang(en) {
    font-size: medium;
  }

  .category-post-thumbnail img {
    height: 100%;
    object-fit: cover;
  }

  .category-post-content {
    flex: 1;
    /* Take the remaining 60% of the width */
    max-width: 60%;
    /* Ensure it doesn't exceed 60% */
  }

  .category-post-content h2 {
    margin: 0;
    /* Remove default margin */
    font-size: 1em;
    /* Adjust font size */
  }

  .post-details-container {
    font-size: smaller;
  }

  .post-details-container .post-details-tags {
    display: none;
  }

  .category-post-content p {
    font-size: 0.8em;
    margin: 5px 0 0;
    /* Adjust margins */
    color: #666;
    /* Optional: Adjust text color */
  }

  .post-thumbnail {
    height: 200px;
    /* Adjust height for smaller screens */
  }

  .post-title {
    font-size: 1.5em;
    /* Adjust font size */
  }

  /* Category Strip Styles for Mobile */
  .highlight {
    padding-top: 2%;
  }

  .category-strip-posts {
    display: grid;
    grid-template-columns: 1fr;
    /* Single column layout */
    gap: 1em;
  }

  .category-strip-inner {
    width: 90%;
  }

  .category-strip-posts .grid-post {
    flex-direction: row;
    margin-bottom: 1em;
  }

  .category-strip-posts .grid-post-thumbnail {
    width: 30%;
    padding-top: 30%;
    position: relative;
    margin-right: 1em;
    overflow: hidden;
    flex-shrink: 0;
  }

  .category-strip-posts .grid-post-thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .category-strip-posts .grid-post .grid-post-thumbnail {
    width: 30%;
    padding-top: 30%;
  }

  .category-strip-posts .grid-post-content {
    flex-grow: 1;
    margin-top: 0;
  }

  .category-strip-posts .grid-post-content h2 {
    margin-top: 0.5em;
  }

  .category-strip-posts .grid-post-content p {
    font-size: small;
    margin-top: 0.5em;
  }

  .post-content {
    width: 95%;
  }

  .post-header h1 {
    font-size: 1.6em;
  }

  .post-content h2 {
    font-size: 1.4em;
  }

  .post-content h3 {
    font-size: 1.2em;
    ;
  }

  .category-strip-header {
    font-size: small
  }

  .site-footer .wrapper {
    .footer-title {
      margin-left: 1rem;
      /* Adjust the margin to your preference */
    }

    .footer-row {
      flex-direction: column;
      /* Stack columns into rows */
      align-items: center;
      /* Center align the rows */
      text-align: center;
      /* Center the text */

      /* Adjust the columns to take full width in mobile view */
      .footer-col {
        width: 100%;
        padding: 1rem 0;
        /* Adjust padding as necessary */

        .footer-links {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          /* 2 columns */
          gap: 1rem;
          margin: 0;
          /* Adjust the gap between items */
        }

        /* Adjust each link block for better spacing */
        .footer-links li {
          text-align: center;
          /* Center align the link text */
        }
      }

      .subscribe {
        border-top: 1px solid #ffffff;
        /* Add a border above the form */
      }

    }

  }

}

@media (max-width: 480px) {
  .featured-content h1 {
    font-size: 1.5em;
    /* Further adjust font size for very small screens */
  }

  .post-title {
    font-size: 1.2em;
    /* Further adjust font size */
  }

  .grid-post-thumbnail {
    width: 35%;
    /* Set a fixed width for the thumbnail */
    padding-top: 35%;
    /* Maintain aspect ratio to ensure it is square */
  }

  .grid-post-content {
    flex-grow: 1;
    /* Allow the content to grow and fill the available space */
  }
}